<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Define your beans here -->
	<!-- Add a logger config to see logging messages. - For more detailed logs, 
		set values to "FINEST" - For info on logging levels, see: http://www.vogella.com/tutorials/Logging/article.html -->
	<bean id="myLoggerConfig"
		class="com.luv2code.springdemo.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINEST" />
		<property name="printedLoggerLevel" value="FINEST" />
	</bean>
	<context:property-placeholder
		location="classpath:sport.properties" />
	<bean id="myFortune"
		class="com.luv2code.springdemo.HappyFortuneService">
	</bean>
	<bean id="myCoach" class="com.luv2code.springdemo.BaseballCoach">
		<constructor-arg ref="myFortune" />
	</bean>
	<bean id="myFortuneService"
		class="com.luv2code.springdemo.HappyFortuneService">
	</bean>
	<bean id="myCrickeCoach"
		class="com.luv2code.springdemo.CricketCoach">
		<property name="fortuneService" ref="myFortuneService"></property>
		<property name="emailAddress" value="${foo.email}"></property>
		<property name="team" value="${foo.team} Utd"></property>
	</bean>
	<bean id="myBball" class="com.luv2code.springdemo.BasketBallCoach">
	</bean>
	<bean id="myGoat" class="com.luv2code.springdemo.FootballCoach">
	</bean>
	<bean id="myRandomFortuneService"
		class="com.luv2code.springdemo.NewFortuneServiceArr">
	</bean>
	<bean id="myGolfCoach" class="com.luv2code.springdemo.GolfCoach">
		<constructor-arg ref="myRandomFortuneService" />
	</bean>
</beans>





